@font-face {
    font-family: 'Title';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/pano.woff') format('woff'),
        url('./fonts/pano.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Text';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter-bold.woff') format('woff'),
        url('./fonts/inter-bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Text';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-regular.woff') format('woff'),
        url('./fonts/inter-regular.woff2') format('woff2');
    font-display: swap;
}
